################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DiseaseMongoModel/obj/Debug/netcoreapp3.1/TempPE
/DiseaseMapMVC/obj/Debug/netcoreapp3.1/TempPE/Resources.Models.DiseaseMKBCode.Designer.cs.dll
/.vs/DiseaseMapMVC/v16/TestStore/0/002.testlog
/DiseaseMapMVC/obj/Debug/netcoreapp3.1/DiseaseMapMVC.Resources.Models.DiseaseMKBMessages.resources
/DiseaseMapMVC/obj/Debug/netcoreapp3.1/DiseaseMapMVC.Resources.Models.ErrorMessages.resources
/DiseaseMapMVC/obj/Debug/netcoreapp3.1/TempPE/Resources.Models.ErrorMessages.Designer.cs.dll
/DiseaseMapMVC/obj/Debug/netcoreapp3.1/TempPE/Resources.Models.Error.Designer.cs.dll
/DiseaseMapMVC/obj/Debug/netcoreapp3.1/TempPE/Resources.Models.DiseaseMKBMessages.Designer.cs.dll
/DiseaseMapMVC/obj/Debug/netcoreapp3.1/TempPE/Resources.Models.DiseaseMessages.Designer.cs.dll
/DiseaseMapMVC.v3.ncrunchsolution
