@inject IViewLocalizer Localizer

<link href="~/css/myStyles/errorPage.css" rel="stylesheet" />

<div class="parent">
    <div class="block">
        <img src="~/images/unknownError.png" alt="error" />
        <h1>@Localizer["UnknownError"]</h1>
        <h2>@Localizer["Advice"]</h2>
    </div>
</div>

